html,
body {
  width: 100vw;
  height: 100vh;
  background: $branco;
  font-family: $font-family-default;
}

a {
  color: $black;

  &:hover {
    opacity: .7;
    @include fade-transition('hover');
  }
}

p {}

button {}

.section {
  width: 100wv;
  height: 80vw;

  &__content {}
}

.title {
  font-size: 3rem;
  font-family: $font-family-secondary;
  font-size: 3rem;
}

.intro-content{
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;

}

.logo-icon {
  width: 10vw;
  height: auto;
}
