html,
body {
  width: 100vw;
  height: 100vh;
  background-color: $color-white;
  font-family: $font-family-default;
  font-weight: 300;
}

a {
  color: $color-black;

  &:hover {
    opacity: .7;
    @include fade-transition('hover');
  }
}

p {}

button {}

.section {
  width: 100vw;

  &__content {}
}

.title {
  font-family: $font-family-default;
}


.content-intro{
  width: 100vw;
  height: 100vh;
  display: flex;
  text-align: center;

  &__title {
    font-size: 3rem;
  }

  &__subtitle {
    font-size: 2.5rem;
    font-family: $font-family-secondary;
  }
}

